<h1>Activity</h1>
<%= form_for(:filter, { url: activity_index_path, method: :get }) do |f| %>
<%= fields_for :filter do |filter| %>
    <%= filter.date_field :created_at, value: @datetime  %>
<% end %>
<%= hidden_field :filter, :status, value: @status %>
 <%= f.submit %>
<% end %>
<br>
<br>



<ul>
  <% @activities.each do |activity| %>
    <li>
      <%= activity.user.full_name %>
      created new <%= activity.activitable_type.downcase %>
        <% if activity.activitable_type == "Comment"%>
          <%=render partial: "#{activity.activitable_type.downcase.pluralize}/activity", locals: { activity: activity } %>
          <%
=begin%>
 <%= link_to activity.activitable.part_of_com, article_path(activity.activitable.article) %> 
<%
=end%>
        <% else %>
          <%=render partial: "#{activity.activitable_type.downcase.pluralize}/activity", locals: {activity: activity } %>
        <% end %>
      <hr>
    </li>  
  <%end%>
</ul>