<h1>Title: <%= @song.title %> </h1>
<p> Body: <%= @song.body %></p>
<p> Album name: <%= link_to @album.name, edit_album_path(@album) %>
<p> The year of publishment: <%= @album.year %>
<p> Author: <%= @album.author %>
<% if @album.cover.attached? %>
  <%=image_tag url_for(@album.cover) %>
<%end%> 

<p><%= link_to "edit", edit_song_path(@song) %></p>
<p><%= link_to "delete", song_path(@song), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>

