<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="topnav">
      <%= link_to "Articles", articles_path %>
      <%= link_to "Archived articles", articles_path(filter: {status: "archived"})%>
      <%= link_to "Shops", shops_path %>
      <%= link_to "Users", users_path %>
      <%= link_to "Songs", songs_path %>
      <%= link_to "Albums", albums_path %>
      
    </div> 
    <%= yield %>
  </body>
</html>
