<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="topnav">
      <% if @basket %>
        <%= link_to "cart", shop_basket_path(@shop, @basket) %>
      <% end %> 
      <%= link_to "Articles", articles_path %>
      <%= link_to "Archived articles", articles_path(filter: {status: "archived"})%>
      <%= link_to "Private articles", articles_path(filter: {status: "private"})%>
      <%= link_to "Shops", shops_path %>
      <%= link_to "Users", users_path %>
      <%= link_to "Songs", songs_path %>
      <%= link_to "Albums", albums_path %>
      <%= link_to "Artists", artists_path %>
      <%= link_to "Uploads", uploads_path %>
      <%= link_to "Fitnesses", fitnesses_path %>
      <%= link_to "About me", about_me_path %>
      <%= link_to "Activity", activity_index_path %>
      <%= link_to "Categories", categories_path %>
      <div class="position-absolute top-0 end-0">
        <% if (devise_user_signed_in?) %>
          <%= link_to "Log out", destroy_devise_user_session_path, data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "Log in", new_devise_user_session_path %>
        <% end %>  
      </div>
    </div>
    
    <div class="container-fluid">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div> 
  </body>
</html>
